<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="styles.css">
    <title>Angus Warman Dot Com</title>
    <style>
        /* Set background during initial load to avoid white flash */
        :root {
            --color-bg: #0d0f0d;
        }

        html,
        body {
            background-color: var(--color-bg);
        }
    </style>
    <link rel="stylesheet" href="spare-me.css">
</head>

<body>
    <nav id="sidebar">
        <a hx-get="/spa-content/home.html" hx-target="#dashboard" hx-swap="innerHTML">
            <span class="icon">H</span>
            <span class="label">Home</span>
        </a>

        <a hx-get="/spa-content/charts.html" hx-target="#dashboard" hx-swap="innerHTML">
            <span class="icon">C</span>
            <span class="label">Charts</span>
        </a>

        <a hx-get="/spa-content/issues.html" hx-target="#dashboard" hx-swap="innerHTML">
            <span class="icon">I</span>
            <span class="label">Issues</span>
        </a>
    </nav>

    <main id="dashboard">

    </main>
</body>

<script>
    // Update selected tab
    document.body.addEventListener("htmx:afterSwap", (e) => {
        const requestPath = e.detail.pathInfo.requestPath

        document.querySelectorAll("nav a").forEach(a => {
            const linkPath = a.getAttribute("hx-get")
            if (linkPath === requestPath) {
                a.setAttribute("aria-current", "page");
            } else {
                a.removeAttribute("aria-current")
            }
        });
    });

    const page = document.getElementById("dashboard")

    // On load, get the content of home page
    document.addEventListener("DOMContentLoaded", () => {
        const url = "/spa-content/home.html"
        htmx.ajax("GET", url, { target: page, swap: "innerHTML" })
    })
</script>